{% extends "base.html.twig" %}


{% macro concate(name, character, number) %}

    {% if (name starts with 'a') or (number is odd) or (character != 'B') %}
    
        <div class="alert alert-danger"> {{ name }} a obtenu le {{ character }} {{ number }}</div>
  
    {% else %}
            <div class="alert alert-success"> {{ name }} a obtenu le {{ character }} {{ number }}</div>
    {% endif %}
    
{% endmacro %}

{#==========================================================================================#}

{% macro makeform() %}
  
    <input type="text" placeholder = "{{'Bonjour! je suis amanda'|firstword}}"/>

    {{ makebtn("Envoyer","primary") }}
    
{% endmacro %}