{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}
{% block body %}

<h1 class="text-center my-5" >Liste des produits</h1>
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>  
    {% endfor %}
    <div class="row row-cols-sm-1 row-cols-md-3 g-4">
        {% for product in products %}
        {# {% if  product.visible == true %} #}
            <div class="col">
                <div class="card">
                    <img src="{{ product.mainPicture }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="badge rounded-pill bg-{{ product.category.color }}">{{product.category.name}}</span>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.shortDescription|u.truncate(100,'...',false)}}</p>
                        <a class="btn btn-primary" href="{{ path('product_show',{'id' : product.id}) }}" role="button">Plus de détails</a>
                        <a class="btn btn-success" href="{{ path('product_add',{'id' : product.id}) }}"                         role="button">Ajouter</a>
                        <a class="btn btn-danger" href="{{ path('product_edit',{'id' : product.id}) }}" role="button">Supprimer</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ product.price }}</li>
                        <li class="list-group-item">{{ product.quantity }} en stock</li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-muted">Ajouté le {{ product.createdAt|date("d/m/Y")}}</small>
                    </div>
                </div>
            </div>
        {# {% endif %} #}
        {% endfor %}
    </div>
</div>

{% endblock %}

